extends layout
block content
    //section#playground
    //    table
    //        each person in names
    //            tr
    //                each name in person
    //                    td= name
    section#content
        h2= prompt
        if hint
            p
                i Hint: #{hint}